@import '../mixins/animation';


@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateY(-6px);
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateY(0);
    }
}

@keyframes slideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateY(-6px);
    }
}

@keyframes moveUpIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateY(0);
    }
}

@keyframes moveUpOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes notificationFadeIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes notificationFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes icon-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.collapse-transition {
    transition: height .3s linear;
}

@include animation(fade, fade);
@include animation(move-up, moveUp);
@include animation(slide-up, slideUp);
@include animation(notification-fade, notificationFade);