@import '../variables/index.scss';


.badge {
    position: relative;
    display: inline-block;

    &__content {
        display: inline-block;
        height: $badge-height;
        padding: $badge-padding;
        color: $badge-font-color;
        font-size: $badge-font-size;
        text-align: center;
        line-height: $badge-height - 2;
        white-space: nowrap;
        border: 1px solid $color-white;
        border-radius: $badge-border-radius;
        background-color: $badge-background-color;
    }

    &--alone {
        .badge__content {
            top: 0;
        }
    }

    &--corner {
        position: absolute;
        top: (-$badge-height / 2) + 1;
        right: 0;
        transform: translateX(50%);
    }

    &--dot {
        padding: 0;
        width: $badge-dot-size;
        height: $badge-dot-size;
        top: (-$badge-dot-size / 2) + 1;
    }

    &--success {
        .at-badge__content {
            background-color: $badge-background-color-success;
        }
    }

    &--warning {
        .badge__content {
            background-color: $badge-background-color-warning;
        }
    }

    &--info {
        .badge__content {
            background-color: $badge-background-color-info;
        }
    }
}