@import '../variables/index.scss';

// Variables

$button-hover-tint-percent: 15%;
$button-active-shade-percent: 10%;

@mixin button-status($border-color, $background-color) {
    border-color: $border-color;
    background-color: $background-color;

    &:hover {
        background-color: tint($background-color, $button-hover-tint-percent);
        border-color: tint($background-color, $button-hover-tint-percent);
    }
    &:active {
        background-color: shade($background-color, $button-active-shade-percent);
        border-color: shade($background-color, $button-active-shade-percent);
    }
}

@mixin button-hollow-status($text-color, $border-color) {
    background: none;
    color: $text-color;

    &:hover {
        background: none;
        color: tint($text-color, $button-hover-tint-percent);
        border-color: tint($border-color, $button-hover-tint-percent);
    }
    &:active {
        background: none;
        color: tint($text-color, $button-active-shade-percent);
        border-color: tint($border-color, $button-active-shade-percent);
    }
}

.button {
    display: inline-block;
    padding: $button-padding-base;
    font-size: 0;
    outline: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $button-default-border;
    border-radius: $border-radius-base;
    background-color: $button-default-background;
    transition: background 0.2s;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: $button-default-background-hover;
    }

    &:active {
        background-color: $button-default-background-active;
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:active {
        cursor: not-allowed;
        color: $button-disabled-color;
        border-color: $button-disabled-border;
        background-color: $button-disabled-background;
    }

    &--primary,
    &--success,
    &--error,
    &--warning,
    &--info {
        color: $color-white;
    }

    &--default {
        &--hollow {
            @include button-hollow-status($text-color, $button-default-border);
        }
    }

    &--primary {
        @include button-status($button-primary-border, $button-primary-background);

        &--hollow {
            @include button-hollow-status($color-primary, $button-primary-border);
        }
    }

    &--success {
        @include button-status($button-success-border, $button-success-background);

        &--hollow {
            @include button-hollow-status($color-success, $button-success-border);
        }
    }

    &--error {
        @include button-status($button-error-border, $button-error-background);

        &--hollow {
            @include button-hollow-status($color-error, $button-error-border);
        }
    }

    &--warning {
        @include button-status($button-warning-border, $button-warning-background);

        &--hollow {
            @include button-hollow-status($color-warning, $button-warning-border);
        }
    }

    &--info {
        @include button-status($button-info-border, $button-info-background);

        &--hollow {
            @include button-hollow-status($color-info, $button-info-border);
        }
    }

    &--text {
        @include button-hollow-status($button-text-border, transparent);
        border: none;

        &:disabled,
        &:disabled:hover,
        &:disabled:active {
            background: none;
        }
    }

    &--default,
    &--primary,
    &--success,
    &--error,
    &--warning,
    &--info,
    &--text {
        &--hollow {
            &:disabled,
            &:disabled:hover,
            &:disabled:active {
                background: none;
            }
        }
    }

    &--large {
        font-size: $button-font-size-md;
        padding: $button-padding-md;

        &.button--circle {
            width: $button-circle-size-lg;
            height: $button-circle-size-lg;

            .button__icon {
                font-size: $button-font-size-lg;
            }
        }

        .button__text {
            font-size: $button-font-size-md;
        }
    }

    &--small {
        font-size: $button-font-size-sm;
        padding: $button-padding-sm;

        &.button--circle {
            width: $button-circle-size-sm;
            height: $button-circle-size-sm;

            .button__icon {
                font-size: $button-font-size-sm;
            }
        }

        .button__text {
            font-size: $button-font-size-sm;
        }
    }

    &--smaller {
        font-size: $button-font-size-smer;
        padding: $button-padding-smer;

        &.button--circle {
            width: $button-circle-size-smer;
            height: $button-circle-size-smer;

            .button__icon {
                font-size: $button-font-size-smer;
            }
        }

        .button__text {
            font-size: $button-font-size-smer;
        }
    }

    &--circle {
        width: $button-circle-size;
        height: $button-circle-size;
        padding: 0;
        border-radius: 50%;

        .button__icon {
            font-size: 14px;
        }
    }

    &__icon,
    &__loading {
        font-size: $button-font-size-base;
        line-height: 1.5;

        + span {
            margin-left: 4px;
        }
    }

    &__loading {
        display: inline-block;
        line-height: 1;
        animation: loadingCircle 1s linear infinite;
    }

    &__text {
        font-size: $button-font-size-base;
    }
}

.button-group {
    font-size: 0;
    display: inline-block;

    .button {
        border-radius: 0;

        &:not(:last-child) {
            margin-right: -1px;
        }

        &:first-child {
            border-radius: $border-radius-base 0 0 $border-radius-base;
        }

        &:last-child {
            border-radius: 0 $border-radius-base $border-radius-base 0;
        }
    }
}

@keyframes loadingCircle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}