@import '../variables/index.scss';
@import '../mixins/index.scss';


.dropdown {
    display: inline-block;

    &__popover {
        position: absolute;
        overflow: visible;
        z-index: $z-index-dropdown;
    }
}

.dropdown-menu {
    position: relative;
    padding: 0;
    width: inherit;
    max-height: $dropdown-max-height;
    font-size: 0;
    border-radius: $border-radius-base;
    background-color: $dropdown-background-color;
    box-shadow: $dropdown-box-shadow;
    list-style: none;
    z-index: $z-index-dropdown;

    &__item {
        @include ellipsis(100%, block);
        padding: $dropdown-item-padding;
        min-width: $dropdown-item-min-width;
        font-size: $dropdown-font-size;
        line-height: 1.5;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: $dropdown-item-background-color-hover;
        }

        &--disabled {
            color: $dropdown-item-background-color-disabled;
            cursor: $cursor-disabled;

            &:hover {
                background-color: $dropdown-background-color;
            }
        }

        &--divided {
            position: relative;
            margin-top: 6px;
            border-top: 1px solid $dropdown-divided-color;

            &:before {
                content: '';
                display: block;
                height: 6px;
            }
        }
    }
}