@import '../variables/index.scss';


.input-number {
    display: inline-block;
    position: relative;
    width: 100%;
    height: $input-number-height-base;
    min-width: $input-number-min-width;
    border: 1px solid $input-number-border-color;
    border-radius: $input-number-border-radius;
    background-color: $color-white;
    transition: border .2s;
    overflow: hidden;

    &:hover:not(&--disabled) {
        border-color: $input-number-border-color-hover;

        .input-number__handler {
            opacity: 1;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
    }

    &__original {
        display: block;
        width: 100%;
        height: 100%;
        padding: $input-number-padding-base;
        color: $input-number-font-color;
        line-height: 1.5;
        border: none;
        border-radius: $input-number-border-radius;
        background-color: $input-number-background-color;
        outline: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        background-color: transparent;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }
    }

    &__handler {
        position: absolute;
        top: 0;
        right: 0;
        width: $input-number-handler-width;
        height: 100%;
        border-left: 1px solid $input-number-handler-border-color;
        border-radius: 0 $input-number-border-radius $input-number-border-radius 0;
        transition: opacity .3s;;
        opacity: 0;
    }

    &__up,
    &__down {
        position: relative;
        display: flex;
        width: 100%;
        height: $input-number-handler-ele-height-base;
        align-items: center;
        justify-content: center;
        color: $input-number-handler-font-color;
        font-size: $input-number-handler-font-size-base;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        &:hover:not(.input-number__up--disabled):not(.input-number__down--disabled) {
            height: $input-number-handler-ele-height-base-hover;
            color: $input-number-handler-font-color-hover;
        }

        &:active:not(.input-number__up--disabled):not(.input-number__down--disabled) {
            background-color: $input-number-handler-background-color-active;
        }

        &--disabled {
            color: $input-number-handler-ele-font-color-disabled;
            cursor: $cursor-disabled;
        }
    }

    &__down {
        border-top: 1px solid $input-number-handler-border-color;

        &:hover {
            margin-top: -2px;
        }
    }

    &--disabled {
        color: $input-font-color-disabled;
        border-color: $input-number-border-color-disabled;
        background-color: $input-number-background-color-disabled;
        cursor: $cursor-disabled;

        .input-number__original {
            color: $input-font-color-disabled;
            cursor: $cursor-disabled;
        }

        .input-number__handler {
            display: none;
        }
    }

    &--small {
        height: $input-number-height-sm;

        .input-number__up,
        .input-number__down {
            height: $input-number-handler-ele-height-sm;
            font-size: $input-number-handler-font-size-sm;

            &:hover {
                height: $input-number-handler-ele-height-sm-hover !important;
            }
        }
    }

    &--large {
        height: $input-number-height-lg;

        .input-number__up,
        .input-number__down {
            height: $input-number-handler-ele-height-lg;
            font-size: $input-number-handler-font-size-lg;

            &:hover {
                height: $input-number-handler-ele-height-lg-hover !important;
            }
        }
    }
}