@import '../variables/index.scss';


.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: $z-index-loading-bar;

    &__inner {
        height: 100%;
        transition: width .3s linear;
    }

    &--success {
        .at-loading-bar__inner {
            background-color: $loading-bar-background-color-success;
        }
    }

    &--error {
        .at-loading-bar__inner {
            background-color: $loading-bar-background-color-error;
        }
    }
}