@import '../variables/index.scss';


.modal {
    position: relative;
    top: $modal-initial-top;
    width: auto;
    margin: 0 auto;
    border: none;
    border-radius: $border-radius-base;
    background-color: $modal-background-color;
    outline: none;

    &__mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: $modal-mask-background-color;
        z-index: $z-index-modal;

        &--hidden {
            display: none;
        }
    }

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        outline: 0;
        z-index: $z-index-modal;
    }

    &__header {
        padding: $modal-header-padding;
        color: $title-color;
        font-size: $modal-header-font-size;
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid $modal-section-border-color;

        p, .modal__title {
            @include ellipsis();
            vertical-align: middle;
        }
    }

    &__close {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: $modal-close-font-size;
        line-height: 1;
        overflow: hidden;
        cursor: pointer;
    }

    &__body {
        padding: $modal-body-padding;
        font-size: $modal-body-font-size;
        line-height: 1.5;

        p {
            font-size: $modal-body-font-size;
        }
    }

    &__icon {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: $modal-icon-font-size;
        vertical-align: middle;
    }

    &__input {
        .input__original {
            margin-top: 8px;
            width: 100%;
        }
    }

    &__footer {
        padding: $modal-footer-padding;
        border-top: 1px solid $modal-section-border-color;
        text-align: right;

        .button + .button {
            margin-left: 8px;
        }
    }

    &--hidden {
        display: none !important;
    }

    &--confirm {
        .modal__header {
            padding: 16px 16px 4px 56px;
            border: none;
        }

        .modal__body {
            padding: 8px 16px 8px 56px;
        }

        .modal__footer {
            padding: 16px;
            border: none;
        }

        &-success {
            .modal__icon {
                color: $modal-icon-color-success;
            }
        }

        &-error {
            .modal__icon {
                color: $modal-icon-color-error;
            }
        }

        &-warning {
            .modal__icon {
                color: $modal-icon-color-warning;
            }
        }

        &-info {
            .modal__icon {
                color: $modal-icon-color-info;
            }
        }
    }
}