@import '../variables/index.scss';

.popover {
    display: inline-block;

    &__trigger {
        display: inline-block;
        position: relative;
    }

    &__popper {
        position: absolute;
        max-width: $popover-popper-max-width;
        border: 1px solid $popover-border-color;
        box-shadow: 0 1px 6px $popover-border-color;
        background-color: $color-white;
        z-index: $z-index-popover;
    }

    &__title {
        margin: 0;
        padding: $popover-title-padding;
        font-size: $popover-title-font-size;
        word-wrap: break-word;
        border-bottom: 1px solid $popover-title-border-color;
        border-radius: $border-radius-base $border-radius-base 0 0;
        background-color: $popover-title-background-color;
    }

    &__content {
        padding: $popover-content-padding;
        font-size: $popover-content-font-size;
        line-height: 1.5;
        word-wrap: break-word;
        border-radius: $border-radius-base;
    }

    &__arrow,
    &__arrow::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: $popover-arrow-size solid transparent;
    }

    &--top,
    &--top-left,
    &--top-right {
        margin-top: -12px;

        .popover__arrow {
            bottom: 0;
            left: 50%;
            margin-left: -$popover-arrow-size;
            margin-bottom: -$popover-arrow-size;
            border-bottom-width: 0;
            border-top-color: $popover-border-color;

            &::after {
                bottom: 1px;
                margin-left: -$popover-arrow-size;
                border-bottom-width: 0;
                border-top-color: $popover-arrow-background-color;
            }
        }
    }

    &--top-left {
        .popover__arrow {
            left: $popover-arrow-size * 2;
        }
    }

    &--top-right {
        .popover__arrow {
            left: initial;
            right: $popover-arrow-size * 2;
        }
    }

    &--bottom,
    &--bottom-left,
    &--bottom-right {
        margin-top: 12px;

        .popover__arrow {
            top: 0;
            left: 50%;
            margin-left: -$popover-arrow-size;
            margin-top: -$popover-arrow-size;
            border-top-width: 0;
            border-bottom-color: $popover-border-color;

            &::after {
                top: 1px;
                margin-left: -$popover-arrow-size;
                border-top-width: 0;
                border-bottom-color: $popover-arrow-background-color;
            }
        }
    }

    &--bottom-left {
        .popover__arrow {
            left: $popover-arrow-size * 2;
        }
    }

    &--bottom-right {
        .popover__arrow {
            left: initial;
            right: $popover-arrow-size * 2;
        }
    }

    &--left,
    &--left-top,
    &--left-bottom {
        margin-left: -12px;

        .popover__arrow {
            top: 50%;
            right: 0;
            margin-top: -$popover-arrow-size;
            margin-right: -$popover-arrow-size;
            border-right-width: 0;
            border-left-color: $popover-border-color;

            &::after {
                right: 1px;
                margin-top: -$popover-arrow-size;
                border-right-width: 0;
                border-left-color: $popover-arrow-background-color;
            }
        }
    }

    &--left-top {
        .popover__arrow {
            top: $popover-arrow-size * 2;
        }
    }

    &--left-bottom {
        .popover__arrow {
            top: initial;
            bottom: $popover-arrow-size * 2;
        }
    }

    &--right,
    &--right-top,
    &--right-bottom {
        margin-left: 12px;

        .popover__arrow {
            top: 50%;
            left: 0;
            margin-top: -$popover-arrow-size;
            margin-left: -$popover-arrow-size;
            border-left-width: 0;
            border-right-color: $popover-border-color;

            &::after {
                left: 1px;
                margin-top: -$popover-arrow-size;
                border-left-width: 0;
                border-right-color: $popover-arrow-background-color;
            }
        }
    }

    &--right-top {
        .popover__arrow {
            top: $popover-arrow-size * 2;
        }
    }

    &--right-bottom {
        .popover__arrow {
            top: initial;
            bottom: $popover-arrow-size * 2;
        }
    }
}