@import '../variables/index';
@import '../mixins/index';


.select {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 80px;
    color: $select-font-color;
    font-size: $select-font-size-base;
    line-height: 1.5;
    vertical-align: middle;

    .select__input {
        width: 100%;
        border: none;
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 24px 0 8px;
        background-color: transparent;

        &::placeholder {
            color: $input-placeholder-color;
        }

        &:disabled {
            cursor: $cursor-disabled;
        }
    }

    /* element */
    &__selection {
        position: relative;
        display: block;
        padding: $select-padding-base;
        outline: none;
        min-height: $select-selection-height-base;
        line-height: $select-selection-height-base;
        border: 1px solid $border-color-base;
        border-radius: $border-radius-base;
        background-color: $color-white;
        transition: all .3s;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            border-color: $select-border-c-hover;

            .select__arrow {
                display: inline-block;
            }

            .select__clear {
                display: inline-block;
            }
        }
    }

    &__selected {
        @include ellipsis(100%, block);
    }

    &__arrow {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -5px;
        font-size: 10px;
        cursor: pointer;
        transition: transform .3s;
    }

    &__clear {
        display: none;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -5px;
        font-size: 10px;
        cursor: pointer;
    }

    &__placeholder {
        color: $input-placeholder-color;
    }

    &__dropdown {
        position: absolute;
        width: 100%;
        max-height: $select-dropdown-height;
        font-size: $select-dropdown-font-size-base;
        border-radius: $border-radius-base;
        background-color: $select-dropdown-background-color;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        z-index: $z-index-dropdown;

        .select__list {
            list-style: none;
            padding: 0;
            font-size: 0;
        }

        .select__not-found {
            padding: $dropdown-option-padding-base;
        }

        .select__option {
            @include ellipsis();
            width: 100%;
            padding: $dropdown-option-padding-base;
            font-size: $select-dropdown-font-size-base;
            line-height: 1.5;
            text-align: left;
            transition: all .3s;
            cursor: pointer;

            &--selected {
                font-weight: bold;
                background-color: $dropdown-option-background-c-selected;
            }

            &:hover,
            &--focus {
                background-color: $dropdown-option-background-c-hover;
            }

            &--disabled {
                color: $input-placeholder-color-disabled;
            }
        }

        &--bottom {
            margin-top: 2px;
        }

        &--top {
            margin-bottom: 2px;
        }

        &--left {
            margin-right: 2px;
        }

        &--right {
            margin-left: 2px;
        }
    }

    &--visible {
        .select__arrow {
            transform: rotate(180deg);
        }
    }

    &--show-clear {
        .select__selection:hover {
            .select__arrow {
                opacity: 0;
            }
        }
    }

    &--disabled {
        .select__selection {
            cursor: $cursor-disabled;
            border-color: $select-border-c-disabled;
            background-color: $select-selection-background-color-disabled;

            &:hover {
                border-color: $select-border-c-disabled;
            }
        }

        .select__placeholder,
        .select__selected {
            color: $input-placeholder-color-disabled;
        }
    }

    &--multiple {
        .tag {
            margin: 4px 4px 0 0;
        }

        .tag__text {
            font-size: 10px;
        }
    }

    &--small {
        font-size: $select-font-size-sm;

        .select__selection {
            height: $select-selection-height-sm;
            line-height: $select-selection-height-sm;
        }

        .select__dropdown .select__option {
            font-size: $select-dropdown-font-size-sm;
        }
    }

    &--large {
        font-size: $select-font-size-lg;

        .select__selection {
            height: $select-selection-height-lg;
            line-height: $select-selection-height-lg - 2;
        }

        .select__dropdown .select__option {
            font-size: $select-dropdown-font-size-lg;
        }
    }
}

.option-group {
    padding: 0;

    &__label {
        @include ellipsis();
        width: 100%;
        padding: 8px;
        color: $option-group-font-c;
        font-size: $select-dropdown-font-size-base;
        line-height: 1;
        transition: all .3s;
        cursor: initial;
    }

    &__list {
        padding: 0;
    }
}