@import '../variables/index.scss';


.steps {
    font-size: 0;

    &--small {
        .step__label {
            width: $step-label-size-sm;
            height: $step-label-size-sm;
            font-size: $step-font-size-sm;
            line-height: $step-label-size-sm - 2;
        }

        .step__title {
            font-size: $step-font-size-sm;
            line-height: $step-label-size-sm;
        }

        .step__line {
            top: ($step-label-size-sm - 2) / 2;
        }

        &.steps--vertical {
            .step__main {
                min-height: $step-main-height-vertical-sm;
            }
        }
    }

    &--vertical {
        .step {
            display: block;
            
            &__line {
                margin: 0;
                left: ($step-label-size - 2) / 2;
                top: 0;
                bottom: 2px;
                width: 1px;
                height: auto;

                &::before, &::after {
                    position: absolute;
                    top: 0;
                    width: 100%;
                }

                &::after {
                    height: 0;
                }
            }

            &__head {
                padding-bottom: 2px;
            }

            &__main {
                min-height: $step-main-height-vertical;
            }
            
            &.step--finish {
                .step__line::after {
                    height: 100%;
                }
            }
        }

        &.steps--small {
            .step__line {
                left: 8px;
            }
        }
    }
}

.step {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    
    &__head, &__main {
        position: relative;
        font-size: $step-font-size;
    }

    &__head {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: $step-background-color;
    }

    &__label {
        margin-right: 8px;
        width: $step-label-size;
        height: $step-label-size;
        color: $step-color;
        line-height: $step-label-size - 2;
        text-align: center;
        border: 1px solid $step-border-color;
        border-radius: 50%;
        transition: all .3s ease-in-out;

        @at-root .step--process &:not(.step__icon) {
            color: $step-color-active;
            border-color: $step-border-color-active;
            background-color: $step-background-color-active;
        }

        @at-root.step--process &.step__icon {
            color: $step-icon-color-active;
        }

        @at-root.step--finish & {
            color: $step-icon-color-active;
            border-color: $step-border-color-active;

            &.step__icon {
                border-color: transparent;
            }
        }

        @at-root.step--error & {
            color: $step-icon-color-error;
            border-color: $step-border-color-error;
        }
    }

    &__line {
        position: absolute;
        left: 0;
        right: 0;
        top: ($step-label-size - 2) / 2;
        margin: 0 10px;
        height: 1px;

        @at-root .step--finish &::after {
            width: 100%;
        }

        @at-root.step--next-error &::after {
            width: 100%;
            background-color: $step-background-color-error;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
        }

        &::before {
            background-color: $step-line-color;
        }

        &::after {
            width: 0;
            background-color: $step-line-color-active;
            transition: all .3s;
        }
    }

    &__main {
        display: inline-block;
        width: calc(100% - 40px);
        vertical-align: top;
        white-space: normal;
        overflow: hidden;
    }

    &__title {
        display: inline-block;
        padding-right: 8px;
        max-width: 80%;
        color: $step-text-color;
        font-weight: bold;
        line-height: $step-label-size;
        vertical-align: top;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: $step-background-color;
        overflow: hidden;

        @at-root.step--process & {
            color: $step-color-process;
        }

        @at-root.step--error & {
            color: $step-color-error;
        }
    }

    &__description {
        color: $step-text-color;
        font-size: $step-description-font-size;
        word-wrap: break-word;

        @at-root.step--process & {
            color: $step-color-process;
        }

        @at-root.step--error & {
            color: $step-color-error;
        }
    }

    &__icon {
        font-size: $step-label-size - 2;
        border-color: transparent;
        background-color: $color-white;
    }

    &__title, &__description, &__icon {
        transition: all .3s ease-in-out;
    }
}