@import '../variables/index.scss';


.tag {
    display: inline-block;
    padding: 1px 8px;
    font-size: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border-radius: $border-radius-base;
    outline: 0;
    @include tag-style($text-color, $tag-border-color, $tag-background-color);

    &__text {
        font-size: $font-size-smer;
    }

    &__close {
        font-size: 10px;
        padding-left: 4px;
        margin: 0;
        cursor: pointer;

        &:hover {
            color: tint($text-color, 30%);
        }
    }

    &--default {
        @include tag-style($text-color, $tag-border-color, $tag-background-color);
    }

    &--primary {
        @include tag-style($color-white, $button-primary-background, $button-primary-background);
    }

    &--success {
        @include tag-style($color-white, $button-success-background, $button-success-background);
    }

    &--error {
        @include tag-style($color-white, $button-error-background, $button-error-background);
    }

    &--warning {
        @include tag-style($color-white, $button-warning-background, $button-warning-background);
    }

    &--info {
        @include tag-style($color-white, $button-info-background, $button-info-background);
    }
}