@import '../variables/index';


.timeline {
    &__item {
        position: relative;
        padding: 0 0 12px;

        &--default {
            .timeline__dot {
                color: $timeline-dot-color;
                border-color: $timeline-dot-color;
            }
        }

        &--success {
            .timeline__dot {
                color: $timeline-dot-color-success;
                border-color: $timeline-dot-color-success;
            }
        }

        &--error {
            .timeline__dot {
                color: $timeline-dot-color-error;
                border-color: $timeline-dot-color-error;
            }
        }

        &--warning {
            .timeline__dot {
                color: $timeline-dot-color-warning;
                border-color: $timeline-dot-color-warning;
            }
        }

        &--custom {
            .timeline__dot {
                top: -2px;
                left: -4px;
                width: $timeline-custom-dot-size;
                height: $timeline-custom-dot-size;
                font-size: $timeline-custom-dot-font-size;
                text-align: center;
                border: 0;

                .icon {
                    display: block;
                    margin-top: 2px;
                }
            }
        }

        &--last {
            .timeline__tail {
                display: none
            }

            .timeline__content {
                min-height: $timeline-item-last-min-height;
            }
        }
    }

    &__tail {
        position: absolute;
        top: 0;
        bottom: 0;
        left: ($timeline-dot-size - 2) / 2;
        border-left: 2px solid $timeline-line-color;
    }

    &__dot {
        position: absolute;
        left: 0;
        top: 0;
        width: $timeline-dot-size;
        height: $timeline-dot-size;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: $timeline-dot-background-color;
    }

    &__content {
        position: relative;
        top: -($timeline-text-font-size - 2) / 2;
        padding: 0 0 8px 24px;
        font-size: $timeline-text-font-size;
    }
    
    &--pending {
        .timeline__item--pending {
            .timeline__tail {
                display: none
            }
        }

        .timeline__item--last {
            .timeline__tail {
                display: inline-block;
                border-left-style: dotted;
            }
        }
    }
}