@import '../variables/index.scss';
@import '../mixins/index.scss';


* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:before, &:after {
        box-sizing: border-box;
    }
}


html, body {
    @include size(100%);
}

body {
    background-color: $background-color;
    color: $text-color;
    line-height: $line-height-base;
    font-family: $font-family;
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

ul, ol {
    list-style: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}

::selection {
    background: $color-primary;
    color: #fff;
}

a {
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }

    &:hover, &:active {
        outline: 0;
        text-decoration: none;
    }

    &[disabled] {
        color: $link-disabled-color;
        cursor: not-allowed;
        pointer-events: none;
    }
}

code, kbd, pre, samp {
    font-family: $code-family;
}

.clearfix {
    @include clearfix;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $title-color;
}

h1 {
    font-size: $font-size-lger;
}

h2 {
    font-size: $font-size-lg;
}

h3 {
    font-size: $font-size-normal;
}

h4, h5, h6 {
    font-size: $font-size-base;
}

hr {
    margin: 1.2em 0 1.5em;
}

p {
    color: $text-color;
    font-size: $font-size-base;
}

.text-smallest {
    font-size: $font-size-smest;
}

.text-smaller {
    font-size: $font-size-smer;
}

.text-small {
    font-size: $font-size-sm;
}

.text-base {
    font-size: $font-size-base;
}

.text-normal {
    font-size: $font-size-normal;
}

.text-large {
    font-size: $font-size-lg;
}

.text-larger {
    font-size: $font-size-lger;
}