@import '../variables/index';


// Variables

$gutter-width: 8px;
$outer-margin: 24px;
$base-width: 4.166667%;
$half-gutter-width: $gutter-width * .5;


.container-fluid, .container {
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: $half-gutter-width * -1;
    margin-right: $half-gutter-width * -1;

    &.reverse {
        flex-direction: row-reverse;
    }
}

.col.reverse {
    flex-direction: column-reverse;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
    text-align: start;
}

.flex-center {
    justify-content: center;
    text-align: center;
}

.flex-end {
    justify-content: flex-end;
    text-align: end;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-top {
    align-items: flex-start;
}

.flex-middle {
    align-items: center;
}

.flex-bottom {
    align-items: flex-end;
}

.flex-first {
    order: -1;
}

.flex-last {
    order: 1;
}

.container {
    width: 100%;
}

.col, .col-offset-0 {
    flex: 0 0 auto;
    padding-left: $half-gutter-width;
    padding-right: $half-gutter-width;
}

@for $i from 1 through 24 {
    .col-#{$i}, .col-offset-#{$i} {
        flex: 0 0 auto;
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;

        .no-gutter & {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-offset-0 {
    margin-left: 0;
}

@for $i from 1 through 24 {
    .col-#{$i} {
        flex-basis: $base-width * $i;
        max-width: $base-width * $i;
    }
    .col-offset-#{$i} {
        margin-left: $base-width * $i;
    }
}

@media screen and (max-width: $screen-sm-max) {
    .col-xs, .col-xs-offset-0 {
        flex: 0 0 auto;
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;
    }

    @for $i from 1 through 24 {
        .col-xs-#{$i}, .col-xs-offset-#{$i} {
            flex: 0 0 auto;
            padding-left: $half-gutter-width;
            padding-right: $half-gutter-width;

            .no-gutter & {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .col-xs {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-xs-offset-0 {
        margin-left: 0;
    }

    @for $i from 1 through 24 {
        .col-xs-#{$i} {
            flex-basis: $base-width * $i;
            max-width: $base-width * $i;
        }
        .col-xs-offset-#{$i} {
            margin-left: $base-width * $i;
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .container {
        width: $container-sm;
    }

    .col-sm, .col-sm-offset-0 {
        flex: 0 0 auto;
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;
    }

    @for $i from 1 through 24 {
        .col-sm-#{$i}, .col-sm-offset-#{$i} {
            flex: 0 0 auto;
            padding-left: $half-gutter-width;
            padding-right: $half-gutter-width;

            .no-gutter & {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }

    @for $i from 1 through 24 {
        .col-sm-#{$i} {
            flex-basis: $base-width * $i;
            max-width: $base-width * $i;
        }
        .col-sm-offset-#{$i} {
            margin-left: $base-width * $i;
        }
    }
}

@media screen and (min-width: $screen-md-min) {
    .container {
        width: $container-md;
    }

    .col-md, .col-md-offset-0 {
        flex: 0 0 auto;
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;
    }

    @for $i from 1 through 24 {
        .col-md-#{$i}, .col-md-offset-#{$i} {
            flex: 0 0 auto;
            padding-left: $half-gutter-width;
            padding-right: $half-gutter-width;

            .no-gutter & {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .col-md {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }

    @for $i from 1 through 24 {
        .col-md-#{$i} {
            flex-basis: $base-width * $i;
            max-width: $base-width * $i;
        }
        .col-md-offset-#{$i} {
            margin-left: $base-width * $i;
        }
    }
}

@media screen and (min-width: $screen-lg-min) {
    .container {
        width: $container-lg;
    }

    .col-lg, .col-lg-offset-0 {
        flex: 0 0 auto;
        padding-left: $half-gutter-width;
        padding-right: $half-gutter-width;
    }

    @for $i from 1 through 24 {
        .col-lg-#{$i}, .col-lg-offset-#{$i} {
            flex: 0 0 auto;
            padding-left: $half-gutter-width;
            padding-right: $half-gutter-width;

            .no-gutter & {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    @for $i from 1 through 24 {
        .col-lg-#{$i} {
            flex-basis: $base-width * $i;
            max-width: $base-width * $i;
        }
        .col-lg-offset-#{$i} {
            margin-left: $base-width * $i;
        }
    }
}